.setting-button {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../assets/icons/setting.png");
    background-position: center;
    background-size: 4px 16px;
    background-repeat: no-repeat;
}
