.p12bold {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    /* D / White FFF */
    color: #FFFFFF;
}
