.input {
  background: #2D313A;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 1px 1px #252A36;
  box-sizing: border-box;
  color: white;
  font-size: 11px;
  font-weight: 600;
  height: 34px;
  padding: 10px 12px;
}

.input::placeholder {
  color: #BCBDBD;
  font-weight: normal;
}

.input:focus {
  outline: none;
}
