.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-content {
    height: 100%;
    overflow-y: auto;
    margin: 36px 0 38px 0;
    background-color: #11141B;
}

.page-content-helper-text {
    padding: 126px 40px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    color: #BCBDBD;
}

.page-footer {
    position: fixed;
    bottom: 0;
}
