.footer {
    align-items: center;
    display: flex;
    height: 38px;
    justify-content: space-between;
    width: 100%;
}

.footer .footer-tab-active {
    background: #3F4554;
    color: white;
    font-weight: bold;
}

.footer-tab {
    align-items: center;
    background: #242934;
    color: #BCBDBD;
    display: flex;
    flex: 1;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    transition: opacity 0.05s ease-in-out;
    text-decoration: none;
}

.footer .footer-tab.footer-tab-active:hover {
    cursor: pointer;
    background: #414757;
}

.footer .footer-tab:hover {
    cursor: pointer;
    background: #252B36;
}

.footer .footer-tab.footer-tab-active:active {
    background: #3F4554;
}

.footer .footer-tab:active {
    background: #232832;
}
