.task-form-wrap {
    height: 100%;
    padding: 16px 0;
}

.task-form {
    margin: 20px 0 !important;
}

.task-form > [class*="col-"] {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.task-form__error-text {
    font-size: 11px;
    color: #EA4E43;
    margin-bottom: 12px;
}

.task-form__control {
    border-top: 1px solid #1D222C;
    padding: 16px 20px 0 16px;
}
