.add-button {
  background-color: #069DF9;
  background-image: url("../../assets/icons/plus.png");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.add-button:hover {
  cursor: pointer;
  background-color: #21ABFF;
}

.add-button:active {
  cursor: pointer;
  background-color: #018EE4;
}
